.card-content {
    margin: auto;
    padding: 12px;
    width: 300px;
    margin-bottom: 140px;
}

h4 {
    text-align: center;
}

.addbtn{
    border-radius: 20px;
    color: white; 
    background-color: rgb(7, 118, 237);

}