<!-- Footer -->
<footer>
    <div class="grid-layout">
      <div class="sec">
        <!-- Footer-links -->
        <ul>
          <li>
            <!-- Footer Header -->
            <h4 style="margin-left:100px;">Follow Us</h4>
            <div class="social">
              <!-- social media links -->
              <ul>
                <li><a href="https://www.facebook.com/CookieMonster/"><img src="../../assets/images/icons8-facebook-100.png" alt="facebook" style="width:50px;"></a></li>
                <li><a href="https://twitter.com/MeCookieMonster?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="../../assets/images/icons8-twitter-64.png" alt="twitter" style="width:50px;"></a></li>
                <li><a href="https://www.tiktok.com/@sesamestreet?lang=en"><img src="../../assets/images/icons8-tik-tok-100.png" alt="tiktok" style="width:50px;"></a></li>
                <li><a href="https://www.linkedin.com/company/doughp/"><img src="../../assets/images/icons8-linked-in-48.png" alt="linkedin" style="width:30px;"></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
  
      <div class="sec">
        <!-- Footer-links -->
        <ul>
          <li><strong>
              <!-- Footer Header -->
              <p class="foott2">Shop</p>
            </strong></li>
          <li><a href="#"><i aria-hidden="true"></i>All Flavors</a></li>
          <li><a href="#"><i aria-hidden="true"></i>Gifts</a></li>
          <li><a href="#"><i aria-hidden="true"></i>Wholesale</a></li>
        </ul>
      </div>
  
  
      <div class="sec">
        <!-- Footer-links -->
        <ul>
          <li><strong>
              <!-- Footer Header -->
              <p class="foott2">Information</p>
            </strong></li>
          <li><a href="#"><i aria-hidden="true"></i> Conferences</a></li>
          <li><a href="#"><i aria-hidden="true"></i> Executive Retreats</a></li>
          <li><a href="#"><i aria-hidden="true"></i> Team Building events</a></li>
        </ul>
      </div>
  
  
      <div class="sec">
        <!-- Footer-links -->
        <ul>
          <li><strong>
              <!-- Footer Header -->
              <p class="foott2">About</p>
            </strong></li>
          <li><a href="#"><i aria-hidden="true"></i> Conferences</a></li>
          <li><a href="#"><i aria-hidden="true"></i> Executive Retreats</a></li>
          <li><a href="#"><i aria-hidden="true"></i> Team Building events</a></li>
        </ul>
      </div>
  
      <div>
        <h2>Get the Inside Scoop</h2>
        <span>Sign up for Sid's newsletter. Come for the cookies,stay for the inspo.#cookie4hope</span>
       <!-- email -->
      </div>
    </div>
    <hr>
    <div style="height:80px; padding: 20px;margin-top: 30px;">
      <span style="margin-left: 10px;">Refund policy</span>
      <span style="margin-left: 10px;">Privacy policy</span>
      <span style="margin-left: 10px;">Terms of service</span>
      <a href="https://www.linkedin.com/feed/"><span style="margin-left: 700px;color: red;text-decoration: none;">By Web Developer Aprielle Brown</span></a>
    </div>

  </footer>
