
.card {
    text-align: center;
    margin: 40px;
    padding: 10px;
    border: 1px solid lightblue;
    box-shadow: 2px 2px 1px 1px lightblue;
    border-radius: 10px;
    width: 350px;
    height: auto;
}
.container {
    display: flex;
    width: 90px;
    margin: auto;
}

