/* Header */
#header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(236, 213, 185);
    color: black;
    margin-top: -20px;
}

#icons>* {
    margin-right: 15px;
}


a:link {
    color: black;
    text-decoration: none;
}

a {
    color: black;
}
/* Dashboard */
.sid1 {
    margin-left: 970px;
}

/* Dashboard Headers */
.dessheader {
    font-size: 22px;
    margin-left: 10px;  
    
}

/* Dashboard Content */

/* Dashboard Cards */

.card {
    width: 16rem;
    margin-left: 60px;
    margin-bottom: 40px;
    margin-top: 20px;
    float: left; 
   
}

.container {
   height: 42rem;
margin-right: 30px;
  margin-left: 90px;
} 

.card-content{
    height: 500px;
    
} 

