.card {
    width: 16rem;
    margin-left: 60px;
    margin-bottom: 30px;
    float: left;
    
}

.container {
    /* height: 55rem; */
    height: 675px;
   margin-left: 150px;
   border-radius: 5px;
   border: 2px solid white;
} 
 .card-content {
    /* height: 490px; */
    height: 391px;
}