#widget1{
    display: flex;
    height: 30px;
    font-size: 13px;
    background-color: rgb(4, 146, 4);
    color: black;
}

.santa-icon{
    height: 23px;
    margin-bottom: 5px;
}

.arrow-icon{
    height: 23px;
}
#widget2{
    display: flex;
    height: 25px;
    font-size: 15px; 
    color: black;
}

.widget3{
    background-color: black;
    color: white;
    height: 60px;
   
     display: flex;
    
animation-name: rotate;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-play-state: running;
 
    
}

div#widget3:hover {
    overflow: visible;
  }
/* Header */
#header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    margin-top: -20px;
}


.bizName {
    width: 280px;
    
}
#icons {
    position: absolute;
    right: 20px;
}

#icons>* {
    margin-right: 15px;
    color: black;
}


a:link {
    color: black;
    text-decoration: none;
}

a {
    color: black;
}


.dessheader {
    font-size: 22px;
   /* margin-top: 150px; */
   margin-left: 30px;
  margin-top: 30px;
}

.tab {
    font-size: 18px;
    
}

#header #icons a:hover {
    text-decoration: underline;
}