<mat-toolbar id="widget1">
    <span style="margin: auto;">SANTA CAME HERE EARLY,HOLIDAY FLAVORS ARE HERE</span>
</mat-toolbar>

<div>
    <mat-toolbar id="widget2">
        <span style="margin-left: 25%;">HOLIDAY: GET $10 OFF WHEN YOU SPEND $50+</span>
        <mat-progress-bar style="width: 400px; margin-left: 30px;" mode="determinate" value="40"></mat-progress-bar>
    </mat-toolbar>
</div>

<!-- Header -->]
<div>
    <mat-toolbar id="header">
        <h2 class="bizName">Sid's</h2>
        <div id=icons>
            <a href="" class="tab">SHOP</a>
            <a href="" class="tab">RECIPE</a>
            <a routerLink="../home"><mat-icon>home</mat-icon></a>
            <a href=""><mat-icon color="warn">favorite</mat-icon></a>
            <a href=""><mat-icon>shopping_cart</mat-icon></a>
        </div>
    </mat-toolbar>
</div>
