<mat-toolbar id="miniheader1">
    <span style="margin: auto;">SANTA CAME HERE EARLY,HOLIDAY FLAVORS ARE HERE <img
            src="../../assets/images/icons8-santa-48.png" alt="santaicon" class="santa-icon">
            <a href="https://www.cookingclassy.com/white-chocolate-dipped-peppermint-chocolate-cookies/ "><img src="../../assets/images/icons8-arrow-64.png" class="arrow-icon"></a></span>
</mat-toolbar>
<div>
    <mat-toolbar id="miniheader2">
        <span style="margin-left: 25%;">HOLIDAY: GET $10 OFF WHEN YOU SPEND $50+</span>
        <mat-progress-bar style="width: 400px; margin-left: 30px;" mode="determinate" value="40"></mat-progress-bar>
    </mat-toolbar>
</div>

<!-- Header -->]
<div>
    <mat-toolbar id="header">
        <img src="../../assets/images/Sketches 3.png" class="bizName">
        <div id=icons>
            <a href="" class="tab">SHOP</a>
            <a href="https://sesameworkshop.org/resources/5-healthy-easy-kid-pleasing-recipes/" class="tab">RECIPE</a>
            <a routerLink="../home"><mat-icon>home</mat-icon></a>
            <a routerLink="../favorite"><mat-icon color="warn">favorite</mat-icon></a>
            <a routerLink="../shopping"><mat-icon>shopping_cart</mat-icon></a>
        </div>
    </mat-toolbar>
</div>

