<app-header></app-header>
<mat-card mat-ripple [matRippleCentered]="true" class="card-content">
    <img src="../../assets/images/{{brownie.imageURL}}" alt="gifts" width="280px" height="250px">
    <mat-card-content>
        <h4><strong>{{brownie.name}}</strong></h4>
        <span><strong>${{brownie.price}}</strong></span>
        <br>
        <span>{{brownie.description}}</span>
        <form id="edit-form">
            <mat-form-field class="input-field" style="margin-top: 30px;">
                <mat-label>Quantity</mat-label>
                <input matInput name="quantity" type="number" min="1" max="20">
            </mat-form-field>
            <mat-radio-group>
                <mat-radio-button>Brownie Bites Topping</mat-radio-button>
                <mat-radio-button>Chocolate Sauce</mat-radio-button>
                <mat-radio-button >Caramel Sauce</mat-radio-button>
                <mat-radio-button>Cookie Dough Topping</mat-radio-button>
                <mat-radio-button >REESE'S PIECES®️</mat-radio-button>
                <mat-radio-button>SNICKERS® Chopped</mat-radio-button>
              </mat-radio-group>
            <mat-card-actions>
                <button mat-raised-button  style="border-radius: 20px;color: white; background-color: rgb(7, 118, 237);;">Add to cart</button>
                <a routerLink="../favorite"><button color="warn" mat-icon-button><mat-icon>favorite</mat-icon></button></a>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>
